{{#d-modal-body class="add-app" title=title}}
  <div class="toggle-app-position-body">{{{i18n 'app.widget.position.description' appTitle=(app-title model.appName)}}}</div>
  <div class="toggle-app-position" {{action 'togglePosition'}}>
    <label class="{{leftPositionClass}}">{{i18n 'app.widget.position.left'}}</label>
    <label class="{{rightPositionClass}}">{{i18n 'app.widget.position.right'}}</label>
  </div>
{{/d-modal-body}}
<div class="modal-footer">
  {{d-button action="addApp" label="app.add.btn" class="btn-primary"}}
  {{d-button action="cancel" label="composer.cancel"}}
</div>
