<div class="app-store">
  {{#if currentUser}}
    <a href='/w/app-petition' target='_blank'>
      <div class="pull-right submit p-text p-link">
        {{i18n 'app.petition.title'}}
      </div>
    </a>
  {{/if}}
  <div class="app-general">
    <div class="store-title">
      <img src='/images/emoji/twitter/earth_africa.png'>
      {{#link-to 'app.storeGeneral' class="p-text p-link large"}}
        {{i18n 'app.store.general'}}
      {{/link-to}}
    </div>
    <div class="store-apps inline">
      {{#each generalApps as |a|}}
        {{app-card app=a}}
      {{/each}}
    </div>
  </div>
  <div class='app-town'>
    <div class="store-title">
      <img src='/images/emoji/twitter/cityscape.png'>
      {{#if currentUser.town_category_id}}
        {{#link-to 'app.storeTown' class="p-text p-link large"}}
          {{place-label currentUser.town_category_id}}
        {{/link-to}}
      {{else}}
        <div class="p-text large">
          {{i18n 'app.store.town.label'}}
        </div>
      {{/if}}
    </div>
    <div class="store-apps inline">
      {{#if currentUser.town_category_id}}
        {{#each townApps as |a|}}
          {{app-card app=a}}
        {{else}}
          <span class="no-apps">
            {{{i18n 'app.store.town.no_apps' townName=(place-label currentUser.town_category_id)}}}
          </span>
        {{/each}}
      {{else}}
        <span class="no-apps">
          {{i18n 'app.store.town.no_user'}}
        </span>
      {{/if}}
    </div>
  </div>
</div>
