<div class="app-store">
  {{#link-to 'app.store'}}
    <div class="p-text large">
      {{d-icon 'chevron-left'}}
    </div>
  {{/link-to}}

  <div class="store-title">
    <img src='/images/emoji/twitter/cityscape.png'>
    <div class="p-text large">
      {{place-label currentUser.town_category_id}}
    </div>
  </div>

  <a href='/w/app-petition' target='_blank'>
    <div class="pull-right submit p-text p-link">
      {{i18n 'app.petition.title'}}
    </div>
  </a>

  <div class='app-town'>
    <div class="store-apps">
      {{#each model as |a|}}
        {{app-card app=a}}
      {{else}}
        <span class="no-apps">
          {{{i18n 'app.store.town.no_apps' townName=(place-label currentUser.town_category_id)}}}
        </span>
      {{/each}}
    </div>
  </div>
</div>
