<div class="app-contents">
  <div class="app-title">
    <div class="p-text medium">
      {{#link-to 'app.details' app.name class="p-text p-link"}}
        {{app-title app.name}}
      {{/link-to}}
    </div>
    {{#if currentUser}}
      {{#if added}}
        <span class='user-apps-link'>
          {{#link-to 'user.apps' currentUser class='p-link'}}
            {{i18n 'app.user.title'}}
          {{/link-to}}
        </span>
      {{else}}
        {{d-button class=btnClasses action='addApp' label=btnLabel disabled=added icon='plus'}}
      {{/if}}
    {{/if}}
  </div>
  <div class="app-image">{{icon-or-image app.image_url}}</div>
  <div class="app-about">{{app-about app}}</div>
  <div class="app-gutter">
    <div class="app-version">{{app.version}}</div>
    <div class="app-authors">
      {{#each authors as |a|}}
        <a href="{{concat '/u/' a}}" data-user-card="{{a}}">{{a}}</a>
      {{/each}}
    </div>
    {{#if app.rating_topic}}
      <div class='app-rating'>
        <a href='{{app.rating_topic.url}}'>
          {{star-rating-raw app.rating_topic.average_rating clickable=true}}
          <span class="exact-rating">{{average-rating app.rating_topic}}</span>
        </a>
      </div>
    {{/if}}
  </div>
</div>
