<div class="app-contents">
  <div class="app-title">
    {{app-title app}}
  </div>
  <div class="app-controls">
    {{#if canRemove}}
      {{d-button action='changeSide' label='app.side.change.btn' }}
      {{d-button action='removeApp' label='app.remove.btn'}}
    {{/if}}
  </div>
  <div class="app-gutter">
    <div class="app-side">
      <span>{{i18n 'app.user.side'}}:</span>
      {{app.side}}
    </div>
    <div class="app-version">
      {{app.version}}
    </div>
  </div>
</div>
