<div class="app-contents">
  <div class="app-title">
    {{#if storeApp}}
      {{#link-to 'app.details' app.name class="p-text p-link"}}
        {{app-title app.name}}
      {{/link-to}}
    {{else}}
      <span class="p-text p-link">
        {{app-title app.name}}
      </span>
    {{/if}}
    {{#if canRemove}}
      <a class="remove p-link" {{action 'removeApp'}}>
        {{i18n 'app.remove.btn'}}
      </a>
    {{/if}}
  </div>
  <div class="app-widget">
    <div class="title">
      {{i18n 'app.widget.label'}}
    </div>
    <ul class="attributes">
      <li class="position">
        <span>{{i18n 'app.widget.position.label'}}:</span>
        {{appWithData.widget.position}}
      </li>
    </ul>
  </div>
  <div class="app-gutter">
    <div class="app-version">
      <span>{{i18n 'app.version'}}:</span>
      {{app.version}}
    </div>
    <a class="edit p-link" {{action 'updateApp'}}>
      {{i18n 'app.data.edit.action'}}
    </a>
  </div>
</div>
